.DS_Store
*.log
*.tmp
*.swp
*.bak
*.old
.idea/
.vscode/
*.iml
Thumbs.db
ehthumbs.db
Desktop.ini


frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env


backend/target/
backend/.env
backend/*.log
backend/.gradle/
backend/build/
backend/gradle-app.setting
backend/pom.xml.tag
backend/pom.xml.releaseBackup
backend/pom.xml.versionsBackup
backend/pom.xml.next
backend/release.properties
backend/dependency-reduced-pom.xml

terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/**/*.tfstate
terraform/**/*.tfstate.backup
terraform/**/*.tfvars
terraform/**/*.tfvars.json
terraform/crash.log


terraform/app/.terraform/
terraform/app/.terraform.lock.hcl
terraform/app/*.tfstate*
terraform/app/*.tfvars*
